<a href="https://colab.research.google.com/github/MohitBurkule/Clusterer/blob/main/Clusterer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import clusterer as cmodel
plt=cmodel.get_elbow(X_df,min,max)# also get counts stacked bar chart
cmodel.cluster(X_df,clusteres,method,dist_metric,cluster_cols,output_cols,col_weights,return_type={"cluster_list","cols","model"} ,inplace)
df_list=cmodel.get_cluster_dflist()
cmodel.get_cluster_counts()
cmodel2=cmodel.re.cluster(X_list_id,clusteres,method,dist_metric,cluster_cols,output_cols,col_weights,return_type={"cluster_list","cols","model"} ,inplace)
cmodel.re.get_elbow(X_list_id,min,max)

In [67]:
class clusterer_help:
  def __init__(self):
    pass
  def pd_df_valid(self,pd):
    assert True,"Need a pandas dataframe as input"
    
  def pd_df_list_valid(self,x_df_id):
    assert True,"Need a valid id"

  def recluster_valid(self,class_valid):
    assert class_valid,"Please call cluster before re-clustering"
  
  def set_recluster_valid(self,re):
    re.class_valid=True
    return re

  def df_keep_cols(self,df,cols_to_keep):
    df=df[cols_to_keep]
    return df
  

  def actual_cluster_and_insert_cols(self,x,out_df,clusters,method):
    """
    method param ignored
    """
    from sklearn.cluster import KMeans
    model=KMeans(n_clusters=clusters, init='k-means++', n_init=10, max_iter=300,
                 tol=0.0001, verbose=0, random_state=None, 
                 copy_x=True, algorithm='auto')
    
    pred=model.fit_predict(x)
    y=pd.Series(pred,name="cluster",index=x.index)
    print(pd.concat([x,y],1))
    x_c=pd.concat([out_df,y],1)
    print(x_c["cluster"].value_counts())
    x_part=[]
    for i in range(0,clusters):
      x_part.append(x_c[x_c.cluster==i].drop('cluster',1))
    df_parts=x_part
    return model,y,df_parts
  
  def get_new_ids(self,inter_id_list,clusters):
    return id_list

In [ ]:
class reclusterer:
  ch=clusterer_help()
  def __init__(self):
    self.class_valid=False
    pass

  def cluster(self,x_df_id,clusters=8,method="kmeans",dist_metric="eucladian",cluster_cols="all",output_cols="all",col_weights=None,return_type="clusters_assigned",inplace=None):  
    self.ch.recluster_valid(self.class_valid)
    self.ch.pd_df_list_valid(x_df_id)

In [62]:
class clusterer:
  ch=clusterer_help()
  def __init__(self):
    self.id_model=dict()
    self.id_ids=dict()
    self.id_df=dict()
    self.inter_id_list=[]
    self.terminal_id_list=[]
    self.re=reclusterer()

  def cluster(self,x_df,clusters=8,method="kmeans",dist_metric="eucladian",cluster_cols="all",output_cols="all",col_weights=None,return_type="clusters_assigned",inplace=None):
    ch=self.ch
    ch.pd_df_valid(x_df)
    
    if(cluster_cols=="all"):
      cluster_cols=x_df.columns
    if(output_cols=="all"):
      output_cols=x_df.columns
    #check if clustercols, outputcols are valid lists

    df=ch.df_keep_cols(x_df,cluster_cols)
    out_df=ch.df_keep_cols(x_df,output_cols)
    
    model,y,df_parts=ch.actual_cluster_and_insert_cols(df,out_df,clusters,method)
    

    self.inter_id_list.append(0)
    self.terminal_id_list.append(0)
    
    new_ids=ch.get_new_ids(self.inter_id_list,clusters)
    
    self.id_model[0]=model
    self.id_ids[0]=tuple(new_ids)
    self.id_df[0]=x_df
    
    for i in range(0,ids):
      self.id_df[ids[i]]=df_parts[i]
      self.terminal_id_list.append(ids[i])
    self.terminal_id_list.remove(0)

    ch.set_recluster_valid(self.re)

In [63]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],columns= iris['feature_names'] + ['target'])

In [64]:
data1

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2     0.0
1                  4.9               3.0  ...               0.2     0.0
2                  4.7               3.2  ...               0.2     0.0
3                  4.6               3.1  ...               0.2     0.0
4                  5.0               3.6  ...               0.2     0.0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3     2.0
146                6.3               2.5  ...               1.9     2.0
147                6.5               3.0  ...               2.0     2.0
148                6.2               3.4  ...               2.3     2.0
149                5.9               3.0  ...               1.8     2.0

[150 rows x 5 columns]

In [65]:
ch=clusterer_help()

In [66]:
df=ch.df_keep_cols(data1,["sepal width (cm)","sepal length (cm)"])
out_df=ch.df_keep_cols(data1,["petal width (cm)","petal length (cm)"])
model,y,df_parts=ch.actual_cluster_and_insert_cols(df,out_df,2,"method")
df_parts

     sepal width (cm)  sepal length (cm)  cluster
0                 3.5                5.1        1
1                 3.0                4.9        1
2                 3.2                4.7        1
3                 3.1                4.6        1
4                 3.6                5.0        1
..                ...                ...      ...
145               3.0                6.7        0
146               2.5                6.3        0
147               3.0                6.5        0
148               3.4                6.2        0
149               3.0                5.9        1

[150 rows x 3 columns]
1    83
0    67
Name: cluster, dtype: int64

[     petal width (cm)  petal length (cm)
 50                1.4                4.7
 51                1.5                4.5
 52                1.5                4.9
 54                1.5                4.6
 56                1.6                4.7
 ..                ...                ...
 144               2.5                5.7
 145               2.3                5.2
 146               1.9                5.0
 147               2.0                5.2
 148               2.3                5.4

 [67 rows x 2 columns],      petal width (cm)  petal length (cm)
 0                 0.2                1.4
 1                 0.2                1.4
 2                 0.2                1.3
 3                 0.2                1.5
 4                 0.2                1.4
 ..                ...                ...
 113               2.0                5.0
 114               2.4                5.1
 121               2.0                4.9
 142               1.9                5.1
 149               1.8                5.1

 [83 rows x 2 columns]]

In [37]:
cmodel=clusterer()

In [38]:
#cmodel.cluster(1)

In [39]:
cmodel.re.cluster(1)

AssertionError: ignored